* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --bg_color:#111827;
    --white: #f3f4f6;
    --white: #f3f4f6;
    --purple-light: #a78bfa;
    --purple-dark: #7056ba;
    --line: #374151;

    --purple: #40396e;
    --blue: #70bfff;
    --blueLight: #d9eeff;
    --blueLight1: #c1e3fe;
    --blueDark: #2da0ff;
    --light: #fff;
    --dark: #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;   
    background: var(--blueLight);
}
/* ========================================BACKGROUND======================================== */
.bg__img {
    width: 500px;
    translate: 0 +30px;
    margin-right: 80px;
}
@media (max-width: 1000px)
{
    .bg__img {
        display: none;
    }
}
/* ========================================LOGIN======================================== */
.login {
    width: 320px;
    border-radius: 20px;
    background: var(--bg_color);
    background: var(--blue);
    padding: 30px 35px;
    color: var(--light);
}

.login__h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
}

.login__form {
    margin-top: 15px;
}

.login__input {
    margin-top: 10px;
    font-size: 1.3rem;
    line-height: 13px;
}

.login__input label {
    display: block;
    color: #000;
    margin: 0 0 5px 5px;
}

.login__input input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--line);
    outline: 0;
    background: var(--bg_color);
    background: var(--blueDark);
    padding: 8px 10px;
    color: var(--white);
}

.login__input input:focus {
    border-color: var(--light);
}

::-webkit-input-placeholder {
    color: var(--light);
}

.login__pass {
    position: relative;
}

.pass__eye {
    position: absolute;
    color: var(--light);
    top: 30px;
    right: 15px;
    cursor: pointer;
}
.pass__eye {
    display: block;
}

.pass__eye-check:checked .pass__eye{
    display: none;
}

.login__forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #fff;
    margin: 8px 0 14px 0;
}

.login__forgot a,.signup a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
}

.login__forgot a:hover, .login__forgot a:active, .login a:hover, .login a:active {
    text-decoration: underline var(--dark);
}

.login__signin {
    display: block;
    width: 90%;
    margin: 0 auto;
    background: var(--blueLight1);
    padding: 8px;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.login__signin:hover, .login__signin:active{
    background: var(--blueDark);
}

.login__social {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.social__line {
    height: 1px;
    flex: 1 1 0%;
    background: var(--light);
}

.social__message {
    padding: 0 8px 0;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: var(--light);
}

.social__icons {
    display: flex;
    justify-content: center;
}

.social__icon {
    font-size: 2.3rem;
    margin: 8px 10px;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.social__icon:hover, .social__icon:active {
    /* color: var(--purple-light); */
    transform: scale(1.8);
}

.signup {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1rem;
    color: var(--light);
}

.signup__btn:hover, .signup__btn:active {
    text-shadow: 1px solid var(--light);
}