@media (max-width: 1159px)
{
    nav {
        width: 80px;
        padding: 20px 10px 0px;
    }

    .nav__logo {
        display: none;
    }

    .nav_link {
        padding: 8px 10px;
    }

    .nav_link__span {
        display: none;
    }

    .container {
        width: calc(100% - 80px);
        margin-left: 80px;
    }
}

@media (max-width: 699px)
{
    nav {
        width: 100%;
        height: 80px;
        flex-direction: row;
        padding: 10px 0px;
        justify-content: space-evenly;
        position: fixed;
        z-index: 1;
        bottom: 0;
    }

    .nav_link__img {
        margin: 0 auto;
    }  

    .container {
        width: 100%;
        margin-left: 0;
        padding: 10px;
    }
    
    .folder {
        grid-template-columns: repeat(2, 1fr);
    }

    .newbox {
        top: 40%;
        left: 10%;
    }
}