* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

:root {
    --bg_color:#111827;
    --white: #f3f4f6;
    --white: #f3f4f6;
    --purple-light: #a78bfa;
    --purple-dark: #7056ba;
    --line: #374151;

    --purple: #40396e;
    --blue: #70bfff;
    --blueLight: #d9eeff;
    --blueLight1: #c1e3fe;
    --blueDark: #2da0ff;
    --light: #fff;
    --dark: #000;
}

body {   
    min-height: 100vh;   
    height: 100000px;
    background: var(--blueLight);
}

.container {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 20px;
}
/* ========================================NAVBAR======================================== */
nav {
    width: 250px;
    height: 100vh;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    z-index: 1;
}

.nav__logo {
    margin: 5px 0px 15px 10px;  
}

.nav__logo img{
    width: 150px;
}

.nav_link {
    color: #000;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.nav_link__img {
    width: 40px;
    margin-right: 15px;
}

.nav_link:hover {
    background: var(--blueDark);
}

.nav_item__learn {
    border: 3px solid #fff;
    color: #fff;
}