* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

:root {
    --bg_color:#111827;
    --white: #f3f4f6;
    --white: #f3f4f6;
    --purple-light: #a78bfa;
    --purple-dark: #7056ba;
    --line: #374151;

    --purple: #40396e;
    --blue: #70bfff;
    --blueLight: #d9eeff;
    --blueLight1: #c1e3fe;
    --blueDark: #2da0ff;
    --light: #fff;
    --dark: #000;
}

body {   
    min-height: 100vh;   
    background: var(--blueLight);
}

.container {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 20px;
}
/* ========================================NAVBAR======================================== */
nav {
    width: 250px;
    height: 100vh;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    z-index: 1;
}

.nav__logo {
    margin: 5px 0px 15px 10px;  
}

.nav__logo img{
    width: 150px;
}

.nav_link {
    color: #000;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.nav_link__img {
    width: 40px;
    margin-right: 15px;
}

.nav_link:hover {
    background: var(--blueDark);
}

.nav_item__learn {
    border: 3px solid #fff;
    color: #fff;
}   
/* ========================================FOLDER======================================== */
.folder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.folder__item {
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    background: #fff;
    border-radius: 15px;
    color: #000;
}

.folder__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px 30px 15px 15px;
    font-size: 1.5rem;
    cursor: default;
    gap: 10px;
    color: #000;
}

.folder__item:hover {
    background: #d3d3d3;
}

.folder__more {
    cursor: pointer;
    padding: 7px 13px;
    border-radius: 50%;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: 0.3s;
}

.folder__more:hover {    
    background: #bbbbbb;
}